<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
	<listener class-name="com.bobcares.utils.Reporting" />
</listeners>

 <test thread-count="5" name="Test">

<!--parameter name="browser" value="firefox" /-->
<parameter name="browser" value="firefox" />


    <classes>
      <!--class name="com.bobcares.testcases.TC1"/-->
      <class name="com.bobcares.testcases.TC1_MonthlyBilling_ServerManagementAndMonitoring"/>
      <class name="com.bobcares.testcases.TC2_YearlyBilling_ServerManagementAndMonitoring"/>
      <!--class name="com.bobcares.testcases.DDT_TC"/-->

    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->







